[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "*"
    Access-Control-Allow-Methods = "*"
[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/proxy"
  status = 200
  force = true
